nav {
    display: flex;
    height: 6%;
    max-width: 95%;
    margin: auto;
    background-color: #c5c5c588;
    border-radius: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    height: 100%;
}

nav ul li {
    display: inline;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    padding-right: 1%;
}

nav #profile {
    float: right;
    width: 10%;
}

nav img {
    height: 100%;
    float: right;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

nav ul li :hover {
    background-color: #77767628;
}

main {
    max-width: 50%;
    margin: auto;
    background-color: #77767628;
    border-radius: 25px;
}


@media (max-width: 1000px) {
    main {
        max-width: 75%;
    }

    @media (max-width: 500px) {
        main {
            max-width: 90%;
        }
    }
}

/** login page **/
main div form {
    text-align: center;

}

main #login {
    text-align: center;
}

input[type=email],
input[type=password] {
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
}

main #login .blue {
    color: rgba(33, 192, 192, 0.626);
}

/** addpost page **/

.addpost * {
    vertical-align: top;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.column {
    float: left;
    padding: 10px;
}

.left,
.right {
    width: 20%;
}

.middle {
    width: 60%;
}

.article {
    border-radius: 25px;
    background-color: #c5c5c588;
    padding: 20px;
    margin-top: 20px;
}

h4 {
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}