nav {
    display: flex;
    height: 6%;
    max-width: 95%;
    margin: auto;
    background-color: #c5c5c588;
    border-radius: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    height: 100%;
    margin: auto;
}

nav ul li {
    display: inline;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    padding-right: 1%;
}

nav #profile {
    float: right;
    width: 10%;
    margin: auto;
}

nav img {
    height: auto;
    width: 55%;
    float: right;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
}

nav ul li :hover {
    background-color: #77767628;
}

main {
    max-width: 50%;
    margin: auto;
    background-color: #77767628;
    border-radius: 25px;
}


@media (max-width: 1000px) {
    main {
        max-width: 75%;
    }

    @media (max-width: 500px) {
        main {
            max-width: 90%;
        }
    }
}

@media (max-width: 500px) {
    nav img {
         display: none;
     }
 }

/** login page **/
main div form {
    text-align: center;

}

input[type=email],
input[type=password] {
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
}

#login .blue {
    color: rgba(33, 192, 192, 0.626);
}

/** addpost page **/

.addpost * {
    vertical-align: top;
    text-align: center;
    
}

#addpost {
    text-align: center;
    width: 50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.column {
    float: left;
    padding: 10px;
}

.left,
.right {
    width: 20%;
}

.middle {
    width: 60%;
}

.article {
    text-align: center;
    border-radius: 25px;
    background-color: #c5c5c588;
    padding: 20px;
    margin-top: 20px;
}

h4 {
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout*/
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        padding: 0;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

.flex-item {
    background: #77767628;
    border-radius: 25px;
    padding: 5px;
    width: 400px;
    height: 450px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    
 }

 div.image::before {
    content: url(../images/acc.png);
    max-width: 100%;
    max-height: 100%;
    height: 80px;
    width: 30px;
    justify-content: right;
    align-items: right;
    max-width:10%;
    max-height:10%;
 }

 .homeform input {
    
    position: relative;
    width:50%;
}

.homeform{
    text-align: center;
}

b + p, form ~ p{
    color: #42A5F5;
}
