nav {
    display: flex;
    height: 6%;
    max-width: 95%;
    margin: auto;
    background-color: #c5c5c588;
}
nav ul{
    list-style-type: none;
    padding: 0;
    width: 90%;
    height: 100%;
}

nav ul li {
    display: inline;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    padding-right: 1%;
}

nav #profile {
    float: right;
    width: 10%;
}
nav img {
    height: 100%;
    float: right;
}
nav ul li :hover{
    background-color: #77767628;
}
main{
    max-width: 50%;
    margin: auto;
    background-color: #c5c5c588;
    border-radius: 25px;
}


@media (max-width: 1000px){
    main {
        max-width: 75%;
    }
    @media (max-width: 500px){
        main {
            max-width: 90%;
        }
    }
}

/** login page **/
main div form {
    text-align: center;

}
main #login{
    text-align: center;
}
input[type=email], input[type=password]{
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
}
main #login .blue{
    color: rgba(33, 192, 192, 0.626);
}